*{
    margin: 0;
}

body{
    font-family: Arial;
}
.WebDesign {
    border-bottom: 2px solid rgb(169, 80, 139);
    height: 16vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #35424A;
    flex-wrap: wrap;
    
}

#clarus{
    
    margin-left: 10vw;
    font-size: 31px;
    color: white;
    font-weight: bolder;
    
}

#clarus span{
    color: #a9508b;
    font-weight: bold;
}
#adress  {
    
    margin-right: 9vw;
}
#adress #check{
    color: #a9508b;
    font-weight: bold;
}
#adress a  {
    margin-right: 2vw;
    font-size: 17px;
    color: white;
    text-decoration: none;
}
#adress a:hover{
    color: #cccccc;
    font-weight: bold;
}
#adress #check:hover{
    color: #cccccc;
    font-weight: bold;
}


.subscribe {
    height: 16vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #35424A;
    
}

#newsletter{
    
    margin-left: 11vw;
    font-size: 22px;
    color: white;
    font-weight: bolder;
    
}


#emails{
    
    padding-right: 6vw;
    height:5vh ;
  
}
#subs{
    margin-right: 10vw;
    height: 6vh;
    width: auto;
    text-align: center;
    background:  #a9508b;
    color: #ffffff;
    
}

.wwd {
    display: flex;
    justify-content: space-evenly;
    background-color: #F4F4F4;
    
}

.about {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    margin-left: 5vw;
    
  
}
#ab{
    font-weight: bolder;
    font-size: 18px;
}
#ab,#one,#three {
    
    width: 50vw;
    height: auto;
    padding-bottom: 1vh;
    padding-top: 2vh;
    
    
}

#three {
    background-color: #35424A;
    color: white;
    padding-left:1vw ;
    padding-right:1vw ;
    padding-top:4vh ;
    padding-bottom:4vh ;
    margin-top: 2vh;
    margin-bottom: 50vh;

}

#fover {
    margin-top:4vh ;
    margin-bottom:63vh;
    margin-right: 4vw;
    padding-left: 1vw;
    padding-right: 2vw;
    padding-top: 2vh;
    width: 20vw;
    height: auto;
    background-color: #35424A;
    color: white;
}

#wedo{
    padding-top: 3vh;
    padding-bottom: 2vh;
}

footer{
    height: auto;
    border-top: 3px solid purple;
    text-align: center;
    padding-top: 6vh;
    padding-bottom:6vh ;
    background-color: #FFFAF0;
}
@media only screen and (max-device-width: 1360px) and (min-device-width: 742px){
    #fover {
        margin-top:4vh ;
        margin-bottom:100vh;
        width: 20vw;
        background-color: #35424A;
        color: white;
    }

}
@media only screen and (max-device-width: 766px) and (min-device-width: 741px){    
    .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #35424A;
}
#newsletter{
    margin-left: 0;
    font-size: 22px;
    color: white;
}


#emails{
    padding-right: 0;
    height:5vh ;
  
}
#subs{
    margin-right: 0;
    height: 6vh;
    width:100px;
    background:  #a9508b;
    color: #ffffff;
    
}
}
@media only screen and (max-device-width: 741px) and (min-device-width: 364px){
    .WebDesign {
        border-bottom: 2px solid rgb(169, 80, 139);
        flex-direction: column;
        align-items: center;
        justify-content: center;  
    }
    #clarus{
        margin-left: 0;        
    }
    #adress  {
        margin-right: 0;
    }

    .subscribe {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #35424A;
    }
    
    #newsletter{
        margin-left: 0;
        font-size: 22px;
        color: white;
    }
    
    
    #emails{
        padding-right: 0;
        height:5vh ;
      
    }
    #subs{
        margin-right: 0;
        height: 6vh;
        width:100px;        
    }
    #fover {
        margin-top:4vh ;
        margin-bottom:100vh;
        width: 20vw;
        background-color: #35424A;
        color: white;
    }


}
@media only screen and (max-device-width: 363px) and (min-device-width: 100px){
    .WebDesign {
        border-bottom: 2px solid rgb(169, 80, 139);
        flex-direction: column;
        align-items: center;
        justify-content: center;  
    }
    #clarus{
        margin-left: 0; 
        font-size: 20px;       
    }
    #adress  {
        margin-right: 0;
        font-size: 12px;
    }
    .subscribe {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: #35424A;
    }
    
    #newsletter{
        margin-left: 0;
        font-size: 22px;
        color: white;
    }
    
    
    #emails{
        padding-right: 0;
        height:3vh ;
      
    }
    #subs{
        margin-right: 0;
        height: 3vh;
        width:100px; 
    }
    #fover {
        margin-top:4vh ;
        margin-bottom:130vh;
        width: 20vw;
        background-color: #35424A;
        color: white;
    }
    
}