*{
    margin: 0;
}

body{
    font-family: Arial;
}
.WebDesign {
    border-bottom: 2px solid rgb(169, 80, 139);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #35424A;
    flex-wrap: wrap;
    
}

#clarus{
    margin-left: 150px;
    font-size: 30px;
    color: white;
    font-weight: bolder;
    
}

#clarus span{
    color: #a9508b;
    font-weight: bold;
}
#adress  {
    margin-right: 140px;
}
#adress #abt{
    color: #a9508b;
    font-weight: bold;
}
#adress a  {
    margin-right: 30px;
    font-size: 17px;
    color: white;
    text-decoration: none;
}
#adress a:hover{
    color: #cccccc;
    font-weight: bold;
}
#adress #abt:hover{
    color: #cccccc;
    font-weight: bold;
}

.background {
    height: 300px;
    background-image: url(./img/showcase.jpg);
    text-align:center ;
    color: #ffffff;
    padding-top: 100px;
}
.background h1 {
    margin-top: 0;
    font-size: 55px;
    margin-bottom: 10px;
}
.background p {
    font-size: 20px;
}

.subscribe {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #35424A;
    
}

#newsletter{
    margin-left: 150px;
    font-size: 22px;
    color: white;
    font-weight: bolder;
    
}

#email  {
    margin-right: 140px;
}

#emails{
    padding-right: 80px;
    margin-right: 0px;
    height:34px ;
  
}
#subs{
    padding-right: auto;
    margin-right: 165px;
    height: 40px;
    width: 100px;
    text-align: center;
    background:  #a9508b;
    color: #ffffff;
    
}

.wwd {
    display: flex;
    background-color: #F4F4F4;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
   
    
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%; 
    padding-top: 10px;
}

.about div {
    margin:15px 40px 15px 40px
    
}
 .lorem {
    text-align: center;
}


footer{
    height: auto;
    border-top: 3px solid purple;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #FFFAF0;
}




