section {
    display: flex;
    justify-content: center;
    border: 6px solid red;
}

.information {
    display: flex;
    flex-direction: column;
    border: 4px solid blue;
}

#email ,#phone ,#fullname,#adres,#city{
    margin-bottom:3vh;
    margin-top: 1vh;
    width: 26vw;
    height: 3vh;
    border-radius: 4px;
    padding-left: 2vw;
}

.allproduct{
    display: flex;
    flex-direction: column;
    border: 4px solid green;
    height: 65vh;
    background-color: #EEEEEE;
    padding: 0 2vw ;
}

.vintage{
    display: flex;
    justify-content: flex-start;
    border: 3px solid tomato;
    margin-top: 3vh;
}
.levi{
    display: flex;
    justify-content: flex-start;
    border: 3px solid teal;
    margin-top: 4vh;
}

.text {
    display: flex;
    flex-direction: column;
    border: 2px solid crimson;
    margin-left: 2vw;
}

img {
    width: 7vw;
    border-radius: 10px;
}

.transport1{
   align-content: flex-end;
   border: 2px solid slateblue;
   margin-top: 7vh;
}
.transport2{
   align-content: flex-end;
   border: 2px solid slateblue;
}
.fas{
    
    position:relative;
    right: 28vw;

}
@font-face{
    font-family: Mon;
    src: url('FONTS/Montserrat-Regular.ttf');
}