*{
    margin: 0;
}

body{
    font-family: Arial;
}
.WebDesign {
    border-bottom: 2px solid rgb(169, 80, 139);
    height: 16vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #35424A;
    flex-wrap: wrap;
    
}

#clarus{
    margin-left: 10vw;
    font-size: 31px;
    color: white;
    font-weight: bolder;
    
}

#clarus span{
    color: #a9508b;
    font-weight: bold;
}
#adress  {
    
    margin-right: 9vw;
}
#adress #check{
    color: #a9508b;
    font-weight: bold;
}
#adress a  {
    margin-right: 2vw;
    font-size: 17px;
    color: white;
    text-decoration: none;
}
#adress a:hover{
    color: #cccccc;
    font-weight: bold;
}
#adress #check:hover{
    color: #cccccc;
    font-weight: bold;
}


.subscribe {
    height: 16vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #35424A;
    
}

#newsletter{
    
    margin-left: 11vw;
    font-size: 22px;
    color: white;
    font-weight: bolder;
    
}


#emails{
    
    padding-right: 6vw;
    height:5vh ;
  
}
#subs{
    margin-right: 10vw;
    height: 6vh;
    width: auto;
    text-align: center;
    background:  #a9508b;
    color: #ffffff;
    
}

.wwd {
    display: flex;
    justify-content: space-around;
    background-color: #F4F4F4;
    
}

.about {
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
  
}
#ab{
    font-weight: bolder;
    font-size: 18px;
    margin-bottom: 2vh;
    margin-top: 3vh;
}


#one,#three,#two {
    margin-top: 1vh;
    padding: 6vh 2vw;
    background-color: #E6E6E6;
    color: black;
    height: auto;
    border: #cccccc solid 1px;

}

#fover {
    width: 33vw;
    height: 45vh;
    padding-right: 1vw;
    padding-left: 1vw;
    padding-top: 5vh;
    padding-bottom: 1vh;

    background-color: #35424A;
    color: white;
    margin-top: 3vh;
    margin-right: 10vw;
    margin-left: 4vw;
    
}

#wedo{
    padding-bottom: 2vh;
}
.button_1 {
    height: 6vh;
    background:  #a9508b;
    border: 0;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-bottom: 3vh;
    margin-top: 2vh;
    color: #ffffff;
}

footer{
    height: auto;
    border-top: 3px solid purple;
    text-align: center;
    padding-top: 7vh;
    padding-bottom: 7vh;
    background-color: #FFFAF0;
}

#name ,#email{
    padding-right: 7vw;
    height: 4vh;
    width: 12vw;
}
#feedback {
    width: 19vw;
}

@media only screen and (max-device-width: 766px) and (min-device-width: 741px){    
    .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #35424A;
}
#newsletter{
    margin-left: 0;
    font-size: 22px;
    color: white;
}


#emails{
    padding-right: 0;
    height:5vh ;
  
}
#subs{
    margin-right: 0;
    height: 6vh;
    width:100px;
    background:  #a9508b;
    color: #ffffff;
    
}
}
@media only screen and (max-device-width: 741px) and (min-device-width: 364px){
    .WebDesign {
        border-bottom: 2px solid rgb(169, 80, 139);
        flex-direction: column;
        align-items: center;
        justify-content: center;  
    }
    #clarus{
        margin-left: 0;        
    }
    #adress  {
        margin-right: 0;
    }

    .subscribe {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #35424A;
    }
    
    #newsletter{
        margin-left: 0;
        font-size: 22px;
        color: white;
    }
    
    
    #emails{
        padding-right: 0;
        height:5vh ;
      
    }
    #subs{
        margin-right: 0;
        height: 6vh;
        width:100px;        
    }
 
}
@media only screen and (max-device-width: 363px) and (min-device-width: 100px){
    .WebDesign {
        border-bottom: 2px solid rgb(169, 80, 139);
        flex-direction: column;
        align-items: center;
        justify-content: center;  
    }
    #clarus{
        margin-left: 0; 
        font-size: 20px;       
    }
    #adress  {
        margin-right: 0;
        font-size: 12px;
    }
    .subscribe {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: #35424A;
    }
    
    #newsletter{
        margin-left: 0;
        font-size: 22px;
        color: white;
    }
    
    
    #emails{
        padding-right: 0;
        height:3vh ;
      
    }
    #subs{
        margin-right: 0;
        height: 3vh;
        width:100px; 
    }
   
}